@media(max-width: 1294px){
    .fotos{
        width: 80%;
    }
}
@media(max-width: 1145px){
    .fotos{
        width: 60%;
    }
    .none{
        display: none;
    }
}
@media(max-width: 1009px){
    .fotos{
        width: 50%;
    }
    .fotos > div{
        display: block;
    }
    .euImg{
       right: 0; 
    }
}
@media(max-width: 420px){
    .fotos > .fotos1 > a > img {
        width: 250px;
        height: 250px;
    }
}
@media(max-width: 350px){
    .fotos{
        width: 55%;
    }
}