h1{
    font-size: 40px;
    color: white;
    font-family: font1;
    text-shadow: 1px 5px 10px black;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.containerIcones{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.containerIcones > div > a > img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.containerIcones > div{
    gap: 100px;
    line-height: 100px;
    display: block;
    justify-content: space-between;
}